.sidebar{
    background-color: azure;
    flex: 2;
    min-height: 100vh;
    border-right: 0.5px solid rgb(230, 234, 18);
}

.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: #6439ff;
}

.hr{
    height: 0px;
    border: 2px solid rgb(230, 227, 227);
}

.title{
    font: size 3px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
